@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 60px;
  background: #f73859;
  color: #f3ecc8;
  padding: 8px 24px;
  border-radius: 7px;
}

span {
  color: #fff;
}

div:nth-child(1) {
  background-image: url('img/coding.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

div:nth-child(2) {
  background: #404b69;
}

div:nth-child(3) {
  height: 500px;
  background: url('img/laptop.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

div:nth-child(4) {
  background: #283149;
}

@media only screen and (max-width: 635px) {
  h2 {
    font-size: 40px;
    background:none;
  color: #fff;
  }
}